* {
    box-sizing: border-box;
}

:root {
    --main-color: #8E00FE;
    --bg: hsl(256, 26%, 20%);
    --line: hsl(273, 4%, 51%);
    --hd-font: 'Libre Baskerville', serif;
    --body-font: 'Work Sans', sans-serif;
}

body {
    line-height: 1.6;
    padding: 0;
    margin: 0;
    width: 100vw;
    font-size: 16px;
    font-family: var(--body-font);
    font-weight: 400;
    height: 100vh;
    overflow-x: hidden;
    font-family: var(--body-font);
    background-image: url("images/photo5.jpg");
    background-position: 100 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    background-color: rgba(69, 6, 119, .3);
;
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.root-div {
    padding: 2em 0;
    position: relative;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.logo {
    width: 5rem;
}

h1 {
    line-height: 1;
    font-size: 2.5rem;
    margin-bottom: 0;
    font-family: var(--hd-font);
}

a {
    text-decoration: none;
}


/* Modal */

.modal-main {
    max-width: 400px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2em;
    width: 100%;
    border-radius: 1rem;
}

.modal-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.modal-btn {
    padding: .5em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    min-width: 300px;
    text-decoration: none;
    display: inline-block;
    /* color: white; */
    border-radius: 2rem;
    text-align: center;
    border: solid 1px;
}

.google-logo {
    margin-bottom: -2px;
}

small {
    width: 80%;
    font-size: .7em;
    text-align: center;
}

hr {
    width: 100%;
}

.sign-in-btn {
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 400px) {

    .root-div {
        padding: 1em;
    }

    .logo {
        width: 70px;
    }

    .container {
        gap: 9em;
        margin: 0 auto;
        max-width: 90vw;
    }

    .modal-main {
        margin: 0 auto;
        width: 100%;
        font-size: .8rem;
    }

    .modal {
        width: 100%;
        margin: 0 auto;
    }

    .modal-btn {
        width: 50%;
        padding: .3rem;
    }
    
}


@media screen and (min-width: 750px) {
    
    .container {
        gap: 8em;
    }

    .modal-main {
        max-width: 55%;
        font-size: 14px;
    }

    .get-started {
        padding: 4rem 10rem;
    }
}


@media screen and (min-width: 900px) {
    .logo {
    width: 5rem;
}

/* Modal */

.modal-main {
    max-width: 400px;
}

.modal {
    background-color: white;
    padding: 3em;
    width: 100%;
    border-radius: 1rem;
}

.modal-btn {
    padding: .5em 2em;
    gap: .5em;
    min-width: 300px;
    text-align: center;
    border: solid 1px;
}

.sign-in-btn {
    border: none;
}

}





